autostart/
cef_user_data/
cinnamon/
cinnamon-session/
coc/
Code - OSS/
dconf/
discord/
Electron/
emacs/auto-save-list/
emacs/elpa/
emacs/elpaca/
emacs/config.el~
emacs/config.org~
emacs/early-init.el~
emacs/init.el~
emacs/projectile-bookmarks.eld
emacs/recentf

evernote-client/
fish/
fontconfig/
freerdp/
ftb-app/
GIMP/
glib-2.0/
gnome-games/
gtk-2.0/
gtk-3.0/
gtk-4.0/
heroic/
htop/
ibus/
KADOKAWA/
kate/
KDE/
kdedefaults/
kde.org/
legendary/
libaccounts-glib/
libreoffice/
Loop_Hero/
lutris/
matplotlib/
menus/
mgba/
MomodoraRUtM/
nemo/
plasma-workspace/
Proxy Studios/
pulse/
r2modman/
r2modmanPlus-local/
remmina/
Risk_of_Rain/
rncbc.org/
session/
spotify-tui/
spotifyd/
StardewValley/
SuperCrateBox_YoYo/
Thunar/
unity3d/
vivaldi/
vlc/
xfce4/
xsettingsd/
akregatorrc
arkrc
baloofileinformationrc
baloofilerc
bluedevilglobalrc
cinnamon-monitors.xml
cinnamon-monitors.xml~
discoverrc
dolphinrc
drkonqirc
emaildefaults
flipscfg
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerdrc
kactivitymanagerd-statsrc
katemetainfos
katerc
kateschemarc
katevirc
kcmfonts
kcminputrc
kconf_updaterc
kded5rc
kdeglobals
kfontinstuirc
kgammarc
kglobalshortcutsrc
khotkeysrc
kinfocenterrc
kiorc
kmixctrlrc
kmixrc
konsolerc
konsolesshconfig
kritadisplayrc
kritarc
krunnerrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
kwinrulesrc
kxkbrc
mimeapps.list
partitionmanagerrc
PlasmaDiscoverUpdates
plasma-localerc
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
pod.ini
plasma-welcomerc
powerdevilrc
powermanagementprofilesrc
QtProject.conf
sddmthemeinstallerrc
soffice.binrc
spectaclerc
starship.toml
systemmonitorrc
systemsettingsrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
xdg-desktop-portal-kderc

.gitignore